In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
merged_data=pd.read_csv('combined_set.csv')
merged_data

       Sail Date.  QTY.(KGS)
0      2018-01-01      13135
1      2018-01-01      15876
2      2018-01-01      71366
3      2018-01-01      14000
4      2018-01-01      24000
...           ...        ...
38097  2022-08-30      13140
38098  2022-08-30      20006
38099  2022-08-30      13600
38100  2022-04-06      14628
38101  2022-02-12      14346

[38102 rows x 2 columns]

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Assuming 'merged_data' is your DataFrame
# merged_data = pd.read_csv('your_file.csv')  # Read your data from a CSV file or any other source

# Convert 'Sail Date.' to datetime format
merged_data['Sail Date.'] = pd.to_datetime(merged_data['Sail Date.'])

# Extract year, month, and day as numerical features
merged_data['Year'] = merged_data['Sail Date.'].dt.year
merged_data['Month'] = merged_data['Sail Date.'].dt.month
merged_data['Day'] = merged_data['Sail Date.'].dt.day

# Drop the original 'Sail Date.' column
merged_data.drop(columns=['Sail Date.'], inplace=True)

# Split the data into features (X) and target variable (y)
X = merged_data[['Year', 'Month', 'Day']]  # Features
y = merged_data['QTY.(KGS)']                # Target variable


# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


X.shape

(38102, 3)