In [12]:
import pandas as pd
import numpy as nb

In [13]:
df = pd.read_csv(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\selected_exporters.csv')

In [14]:
df

,Exporter Name,Address,District,State
0,5P HORTIPLEX,"19, 2nd St, Balamurugan Nagar, Anna Nagar Exte...",NaN,Tamil Nadu
1,A.A.NUTS,"WJMW+7F7, Chandanathope, Mamoodu, Kerala 14, I...",NaN,Kerala
2,A.K. AHAMED MODERAN RICE MILL,"P.O, 40/2, Mannarpalayam Main Rd, Allikuttai, ...",NaN,Tamil Nadu
3,A.K.R. TEXTILES,"48W5+XQ9, Velampalayam, A.Thirumuruganpoondi, ...",NaN,Tamil Nadu
4,A.M.FISHERIES,"98WW+WWQ, Valanjavazhy, Ambalapuzha, Kerala 68...",NaN,Kerala
...,...,...,...,...
2768,WAYANAD ORGANIC RESEARCH P LTD,"Wayanad, Kerala, India",NaN,Kerala
2769,WAYANAD SPICE VILLAGE,"Surabhikavala, Pulpally, Kerala 673579, India",NaN,Kerala
2770,YUGA DEMETER EXIM,"4 335 2.p.a.p Canal Feeder Road Munnar, Main R...",NaN,Tamil Nadu
2771,ZAIN TEX,"24, Sivanar Street, Sendarapatti, Gugai, Salem...",NaN,Tamil Nadu
2772,ZULI EXPORTS,"near GLPS Nottappuram, C Building, 12- 281, Pu...",NaN,Kerala

In [18]:
import pandas as pd
import re



# Function to extract six-digit pin code starting with 6 from address
def extract_pin(address):
    # Using regular expression to find six-digit pin code starting with 6
    pin_match = re.search(r'6\d{5}', address)
    if pin_match:
        return pin_match.group()
    else:
        return None  # Return None if pin code not found

# Apply the extract_pin function to the "Address" column and create a new column "pin"
df['pin'] = df['Address'].apply(extract_pin)

# Save the updated DataFrame to a new CSV file named "updated_file.csv"
df.to_csv(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Code\Clean\updated_file.csv', index=False)

# Display the DataFrame to check the result
print(df)

                       Exporter Name  \
0                       5P HORTIPLEX
1                           A.A.NUTS
2      A.K. AHAMED MODERAN RICE MILL
3                    A.K.R. TEXTILES
4                      A.M.FISHERIES
...                              ...
2768  WAYANAD ORGANIC RESEARCH P LTD
2769           WAYANAD SPICE VILLAGE
2770               YUGA DEMETER EXIM
2771                        ZAIN TEX
2772                    ZULI EXPORTS

                                                Address District       State  \
0     19, 2nd St, Balamurugan Nagar, Anna Nagar Exte...      NaN  Tamil Nadu
1     WJMW+7F7, Chandanathope, Mamoodu, Kerala 14, I...      NaN      Kerala
2     P.O, 40/2, Mannarpalayam Main Rd, Allikuttai, ...      NaN  Tamil Nadu
3     48W5+XQ9, Velampalayam, A.Thirumuruganpoondi, ...      NaN  Tamil Nadu
4     98WW+WWQ, Valanjavazhy, Ambalapuzha, Kerala 68...      NaN      Kerala
...                                                 ...      ...         ...
2768                             Wayanad, Kerala, India      NaN      Kerala
2769      Surabhikavala, Pulpally, Kerala 673579, India      NaN      Kerala
2770  4 335 2.p.a.p Canal Feeder Road Munnar, Main R...      NaN  Tamil Nadu
2771  24, Sivanar Street, Sendarapatti, Gugai, Salem...      NaN  Tamil Nadu
2772  near GLPS Nottappuram, C Building, 12- 281, Pu...      NaN      Kerala

         pin
0     600042
1       None
2     636017
3     641652
4     688005
...      ...
2768    None
2769  673579
2770  642112
2771  636006
2772  676304

[2773 rows x 5 columns]

In [11]:
df.to_csv('updated_file.csv', index=False)

In [19]:
daa = pd.read_csv(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Code\Clean\updated_file.csv')
daa

,Exporter Name,Address,District,State,pin
0,5P HORTIPLEX,"19, 2nd St, Balamurugan Nagar, Anna Nagar Exte...",NaN,Tamil Nadu,600042.0
1,A.A.NUTS,"WJMW+7F7, Chandanathope, Mamoodu, Kerala 14, I...",NaN,Kerala,NaN
2,A.K. AHAMED MODERAN RICE MILL,"P.O, 40/2, Mannarpalayam Main Rd, Allikuttai, ...",NaN,Tamil Nadu,636017.0
3,A.K.R. TEXTILES,"48W5+XQ9, Velampalayam, A.Thirumuruganpoondi, ...",NaN,Tamil Nadu,641652.0
4,A.M.FISHERIES,"98WW+WWQ, Valanjavazhy, Ambalapuzha, Kerala 68...",NaN,Kerala,688005.0
...,...,...,...,...,...
2768,WAYANAD ORGANIC RESEARCH P LTD,"Wayanad, Kerala, India",NaN,Kerala,NaN
2769,WAYANAD SPICE VILLAGE,"Surabhikavala, Pulpally, Kerala 673579, India",NaN,Kerala,673579.0
2770,YUGA DEMETER EXIM,"4 335 2.p.a.p Canal Feeder Road Munnar, Main R...",NaN,Tamil Nadu,642112.0
2771,ZAIN TEX,"24, Sivanar Street, Sendarapatti, Gugai, Salem...",NaN,Tamil Nadu,636006.0
2772,ZULI EXPORTS,"near GLPS Nottappuram, C Building, 12- 281, Pu...",NaN,Kerala,676304.0

In [20]:


# Count the number of empty rows in the 'pin' column
empty_pin_count = df['pin'].isna().sum()

print(f"Number of empty rows in 'pin' column: {empty_pin_count}")

Number of empty rows in 'pin' column: 115

In [21]:


# Find the mode (most frequent pin code) in the 'pin' column
pin_mode = df['pin'].mode()

print(f"Mode in 'pin' column: {pin_mode.values[0]}")

Mode in 'pin' column: 641603

In [22]:


# Count the occurrences of each unique value in the 'pin' column
pin_counts = df['pin'].value_counts()

# Check how many times '641603' appears in the 'pin' column
count_641603 = pin_counts.get('641603', 0)  # Using .get() to handle the case where '641603' is not found

print(f"Number of occurrences of '641603' in 'pin' column: {count_641603}")

Number of occurrences of '641603' in 'pin' column: 109

In [26]:

# Count the occurrences of each unique value in the 'pin' column
pin_counts = df['pin'].value_counts()

# Get the top 5 most frequently occurring pin codes
top_5_modes = pin_counts.head(25)

print("Top 5 most frequent pin codes:")
print(top_5_modes)

Top 5 most frequent pin codes:
pin
641603    109
641604     92
641602     76
641605     69
641652     68
641607     56
641606     38
639002     28
641608     27
641687     26
641006     24
682002     23
641601     22
688534     19
641666     17
682024     17
686012     16
639001     16
688524     15
641654     15
641014     15
678621     13
682018     13
641062     13
682021     13
Name: count, dtype: int64

In [ ]:
# 682002     23
# 688534     19
# 682024     17
# 686012     16
# 688524     15

In [27]:
df.size

13865

In [30]:
import pandas as pd
import random



# Define the pin codes and their respective ratios
pin_codes = ['682002', '688534', '682024', '686012', '688524']
ratios = [23, 19, 17, 16, 15]

# Calculate the total number of pin codes to fill
total_to_fill = df['pin'].isnull().sum()

# Generate random pin codes according to the specified ratios
random_pin_codes = random.choices(pin_codes, weights=ratios, k=total_to_fill)

# Fill the empty rows in the 'pin' column with the randomly generated pin codes
empty_rows = df['pin'].isnull()
df.loc[empty_rows, 'pin'] = random_pin_codes

# Save the updated DataFrame to a new CSV file
df.to_csv(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Code\Clean\updated_file.csv', index=False)

# Display the updated DataFrame
print(df)

                       Exporter Name  \
0                       5P HORTIPLEX
1                           A.A.NUTS
2      A.K. AHAMED MODERAN RICE MILL
3                    A.K.R. TEXTILES
4                      A.M.FISHERIES
...                              ...
2768  WAYANAD ORGANIC RESEARCH P LTD
2769           WAYANAD SPICE VILLAGE
2770               YUGA DEMETER EXIM
2771                        ZAIN TEX
2772                    ZULI EXPORTS

                                                Address District       State  \
0     19, 2nd St, Balamurugan Nagar, Anna Nagar Exte...      NaN  Tamil Nadu
1     WJMW+7F7, Chandanathope, Mamoodu, Kerala 14, I...      NaN      Kerala
2     P.O, 40/2, Mannarpalayam Main Rd, Allikuttai, ...      NaN  Tamil Nadu
3     48W5+XQ9, Velampalayam, A.Thirumuruganpoondi, ...      NaN  Tamil Nadu
4     98WW+WWQ, Valanjavazhy, Ambalapuzha, Kerala 68...      NaN      Kerala
...                                                 ...      ...         ...
2768                             Wayanad, Kerala, India      NaN      Kerala
2769      Surabhikavala, Pulpally, Kerala 673579, India      NaN      Kerala
2770  4 335 2.p.a.p Canal Feeder Road Munnar, Main R...      NaN  Tamil Nadu
2771  24, Sivanar Street, Sendarapatti, Gugai, Salem...      NaN  Tamil Nadu
2772  near GLPS Nottappuram, C Building, 12- 281, Pu...      NaN      Kerala

         pin
0     600042
1     686012
2     636017
3     641652
4     688005
...      ...
2768  686012
2769  673579
2770  642112
2771  636006
2772  676304

[2773 rows x 5 columns]

In [31]:
df.size

13865

In [32]:

# Count the occurrences of each unique value in the 'pin' column
pin_counts = df['pin'].value_counts()

# Get the top 5 most frequently occurring pin codes
top_5_modes = pin_counts.head(25)

print("Top 5 most frequent pin codes:")
print(top_5_modes)

Top 5 most frequent pin codes:
pin
641603    109
641604     92
641602     76
641605     69
641652     68
641607     56
682002     54
686012     42
688534     41
641606     38
682024     38
688524     30
639002     28
641608     27
641687     26
641006     24
641601     22
641666     17
639001     16
641654     15
641014     15
682021     13
678621     13
641021     13
641062     13
Name: count, dtype: int64

In [ ]:
# 682002     23
# 688534     19
# 682024     17
# 686012     16
# 688524     15

#------------------------------------

# 682002     54
# 686012     42
# 688534     41
# 682024     38
# 688524     30

In [9]:
import pandas as pd
import numpy as nb

df = pd.read_csv(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\pin_file.csv')
da = pd.read_csv(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\all-india-pincode-directory.csv')

In [10]:
# Delete the 'District' column from the DataFrame
df.drop(columns=['District'], inplace=True)

In [12]:
import pandas as pd

# Assuming df and da are your existing DataFrames

# Merge the two DataFrames on the specified columns
merged_df = pd.merge(df, da, left_on='pin', right_on='pincode', how='inner')

# Check the merged DataFrame
print(merged_df.head())

     Exporter Name                                            Address  \
0     5P HORTIPLEX  19, 2nd St, Balamurugan Nagar, Anna Nagar Exte...
1         A.A.NUTS  WJMW+7F7, Chandanathope, Mamoodu, Kerala 14, I...
2         A.A.NUTS  WJMW+7F7, Chandanathope, Mamoodu, Kerala 14, I...
3         A.A.NUTS  WJMW+7F7, Chandanathope, Mamoodu, Kerala 14, I...
4  A.K.R. TEXTILES  48W5+XQ9, Velampalayam, A.Thirumuruganpoondi, ...

        State     pin             officename  pincode officeType  \
0  Tamil Nadu  600042          Velacheri S.O   600042        S.O
1      Kerala  686012        Moolavattom B.O   686012        B.O
2      Kerala  686012             Pakkil S.O   686012        S.O
3      Kerala  686012  Poovanthuruthu GDSB.O   686012        B.O
4  Tamil Nadu  641652    15 Velampalayam B.O   641652        B.O

  Deliverystatus        divisionname      regionname circlename  \
0       Delivery  Chennai City South  Chennai Region  Tamilnadu
1       Delivery            Kottayam           Kochi     Kerala
2       Delivery            Kottayam           Kochi     Kerala
3       Delivery            Kottayam           Kochi     Kerala
4       Delivery             Tirupur      Coimbatore  Tamilnadu

                      Taluk Districtname   statename     Telephone  \
0  Chennai City Corporation      Chennai  TAMIL NADU  044-22432187
1                  Kottayam     Kottayam      KERALA           NaN
2                  Kottayam     Kottayam      KERALA  0481-2361370
3                  Kottayam     Kottayam      KERALA           NaN
4                  Tiruppur   Coimbatore  TAMIL NADU           NaN

    RelatedSuboffice    RelatedHeadoffice
0                NaN  St.Thomas Mount H.O
1         Pakkil S.O         Kottayam H.O
2                NaN         Kottayam H.O
3         Pakkil S.O         Kottayam H.O
4  Anuppapalayam S.O          Tirupur H.O

In [14]:
merged_df.to_csv(r'C:\Users\augus\OneDrive\Desktop\js\Cargo predict\Export\Dataset\pin_file.csv', index=False)